<?xml version='1.0' encoding='utf-8'?>
<widget id="com.nannyapp.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>NannyApp</name>
    <description>
        A blank PhoneGap app.
    </description>
    <author email="info@titania.io" href="http://www.titania.io">
        PhoneGap Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <platform name="android">
        <preference name="android-minSdkVersion" value="16" />
        <config-file parent="/resources" target="./res/values/strings.xml">
            <string name="fb_app_id">540152799766625</string>
            <string name="fb_app_name">NannyApp</string>
        </config-file>
    </platform>
    <plugin name="cordova-plugin-sqlite-2" spec="^1.0.5" />
    <engine name="browser" spec="^5.0.4" />
    <engine name="android" spec="^7.0.0" />
    <engine name="ios" spec="^4.5.5" />
</widget>
